.sedici-content{
    display: inline;
    text-align: justify !important;
    text-justify: inter-word;
    font-family: arial;
    font-size: 12px;
}
.sedici-title{
    display: inline;
    font-family: arial;
    font-size: 14px;
}
