.sedici-content{
    font-weight: normal;
    text-align: justify;
    display: inline-block;
    font-size: 12px;
}
.sedici-title a, #sedici-title a  {
    font-weight: normal;
}
#sedici-title {
    font-weight: bold;
    font-size: 14px;
    
}

.wpDspace .a_unline a{
    text-decoration:none;   
}


.wpDspace .ellipse{
	float: left;
}


.wpDspace .page_navigation ,.wpDspace .alt_page_navigation{
	padding-bottom: 10px;
}

.wpDspace .page_navigation a, .wpDspace .alt_page_navigation a{
	padding:1% 2%;
	margin:2%;
	color:black !important;
	border-top: solid 1px #d2d2d2;
    border-left: solid 1px #c3c3c3;
    border-right: solid 1px #c3c3c3;
    border-bottom: solid 1px #9f9f9f;
    border-radius: 5px;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 10px;
	background-color:#dfdfdf ;
}
.wpDspace .page_navigation a:hover, .wpDspace .alt_page_navigation a:hover{
	background: rgba(223, 223, 223, 0.4);
	font-weight: bold;
}
.wpDspace .noList{
list-style-type: none;
}
.noPagination .page_navigation{
display: none;
}
.wpDspace .itemsPagination{
	margin-bottom: 50px !important;
}
.wpDspace .active_page{
	background-color:#808080 !important;
	color:black !important;
}	

.wpDspace .content, .alt_content{
	color: black;
}

.wpDspace .content li, .alt_content li, .content > p{
	padding: 5px
}

.wpDspace .content li{
	list-style: none;
}