<div id="template-repo">
<h2> {{result.titulo}} repositorio</h2>
<form id="{{result.action}}">
    {{#if result.repo}}
    <input type="hidden" value="{{result.repo.id}}" name="id_repo">
    {{/if}}
    <table class=" form-table">
        <tbody>
            <tr>
                <th scope="row">Nombre del Repositorio</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.name}}" id="name" name="name" required>
                    <p class='description'>Descripión</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Protocolo</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.protocol}}" name="protocol" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Dominio</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.domain}}" name="domain" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Path OpenSearch</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.base_path}}" name="base_path" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Formato</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.format}}" name="format" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Query</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.query}}" name="query" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>

            <tr>
                <th scope="row">Handle</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.handle}}" name="handle" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Default Query</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.default_query}}" name="default_query">
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Autor</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.author}}" name="author" required>
                    <p class='description'>Descripción</p>
                </td>
            </tr>
            <tr>
                <th scope="row">Subtipo de documento</th>
                <td scope="row">
                    <input type="text" value="{{result.repo.subtype}}" name="subtype"
                        {{result.config_subtype.disabled}} {{result.config_subtype.required}}>
                    <p class='description'>Descripción</p>
                </td>
                <td scope="row">
                    <input type="checkbox" name="support" class="checkSupport" {{result.config_subtype.checked}}>
                    <p class='description'>Soporta subtipo de documentos</p>
                </td>
            </tr>
            <tr>
                <td>
                    <button id_repo="{{result.repo.id}}" class="button button-primary {{result.action}}">{{result.titulo}}</button>
                </td>
            </tr>

        </tbody>
    </table>
</form>
</div>